/* navbar css */

.navbar {
    width: 100%;
    position: fixed;
    align-items: center;
    z-index: 99999;
    user-select: none;
}

.navbar--top {
    display: flex;
    height: .8rem;
    width: 100%;
}

.navbar__deco {
    height: .8rem;
    width: 100%;
}

.deco--red {
    background-color: #ff0000;
}

.deco--yellow {
    background-color: #ffff00;
}

.deco--green {
    background-color: #00ff00;
}

.deco--blue {
    background-color: #00ffff;
}

.navbar--mid {
    background-color: white;
    justify-content: space-between;
    display: flex;
    padding: 1rem;
    height: 6.5rem;
}

.navbar--left {
    height: 4.5rem;
    margin-left: 1rem;
}

.navbar__icon {
    align-items: center;
    text-decoration: none;
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    color: black;
}

.navbar__icon--img {
    height: 4.5rem;
    margin-right: .5rem;
}

.navbar__icon--text {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
}

.navbar--right {
    display: flex;
    height: 4.5rem;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
}

.navbar__text {
    align-items: center;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
    color: black;
}

.navbar--bot {
    background-color: lightgray;
    height: 6.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.navbar__menu {
    height: 6.5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar__menu--list {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
    height: fit-content;
}

.navbar__menu--item {
    padding-left: 2rem;
    padding-right: 2rem;
    height: fit-content;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar__menu--item:last-child {
    border: none;
}

.navbar__menu--item-link {
    line-height: 1.6rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.6rem;
}

.navbar__menu--item-link:hover {
    color: red;
}

/* content css */
/** home */
/*** news */

.content {
    height: 100%;
    width: 100%;
    margin-top: 13.8rem;
    position: absolute;
}

.content--heading {
    display: flex;
    width: 100%;
    margin: 0;
    height: 8rem;
    font-size: 4rem;
    align-items: center;
    color: white;
    padding-left: 10rem;
}

.content__news {
    background-image: url(/assets/bg/bg.png);
    background-size: 8%;
    background-position: 14px 39px;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    padding-bottom: 10rem;
}

.news__heading {
    background-color: red;
}

.content__news--mid {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    align-items: center;
}

.content__news--preview {
    width: 32rem;
    height: 45rem;
    background-color: transparent;
    display: none;
    border-radius: 3.2rem;
}

.content__news--list {
    width: 65%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content__news--list:hover .content__news--preview {
    display: block;
}

.content__news--item {
    border-top: 1px solid gray;
    display: flex;
    margin: 0;
}

.content__news--item:last-child {
    border-bottom: 1px solid grey;
}


.content__news--item-link {
    padding: .5rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    margin: 0;
    text-decoration: none;
    line-height: 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.content__news--item-link:hover .content__news--item-text {
    color: red;
}

.content__news--item-date {
    margin: 0;
    padding: 0;
    color: red;
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 1rem;
}

.content__news--item-text {
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: .5rem;
}

.content__news--bot {
    margin-right: 4%;
    display: flex;
    justify-content: flex-end;
}

.content__news--more {
    border-radius: .8rem;
    width: 16rem;
    display: flex;
    text-decoration: none;
    background-color: rgb(100, 100, 100);
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(100, 100, 100);
}

.content__news--more-text {
    color: white;
    font-size: 1.6rem;
    padding-left: 2rem;
    padding-right: 1rem;
    font-weight: 600;
}

.content__news--more-icon {
    color: white;
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: 2.4rem;
    font-weight: 500;
}

.content__news--more:hover {
    background-color: white;
}

.content__news--more:hover .content__news--more-text {
    color: rgb(100, 100, 100);
}

.content__news--more:hover .content__news--more-icon {
    color: rgb(100, 100, 100);
}

/* products */

.content__products {
    width: 100%;
    height: 100%;
    background-color: white;
}

.products__heading {
    background-color: #ffff00;
}

.content__products--mid {
    padding-top: 10rem;
    padding-bottom: 10rem;
}