.navbar {
    height: 4rem;
    width: 100%;
    position: fixed;
    align-items: center;
}

.navbar--top {
    height: .8rem;
    width: 100%;
    background-color: red;
}

.navbar__deco {}

.deco--red {}

.deco--yellow {}

.deco--green {}

.deco--blue {}

.navbar--mid {
    padding: 1rem;
}

.navbar--left {
    height: 5rem;
    margin-left: 1.2rem;
}

.navbar__icon {
    align-items: center;
    text-decoration: none;
    display: flex;
    width: 15.2rem;
    height: 5rem;
    justify-content: space-between;
    color: black;
}

.navbar__icon--img {
    height: 5rem;
}

.navbar__icon--text {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.1rem;
    margin: 0;
    padding: 0;
}